body{
    background-image: url(képek/Hatter.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#tartalom{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    width: 750px;
}
#tartalom th, td{
    border: 1px solid black;
    padding: 3px;
    border-collapse: collapse;
}



nav{
    background-color: rgba(100, 100, 100, 0.3) ;
    color: white;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}
nav a:active{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}
nav a:visited{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}
nav a{
    margin: 10%;
    border-right: 1px solid blue;
    border-collapse: collapse;
}
#utolso{
    border-left: 1px solid blue;
    border-collapse: collapse;
}