body{
    background-image: url(képek/Hatter.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
#tartalom{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 4px;
    width: 750px;
    background-color: rgba(150, 150, 150, 0.6);
}
#tartalom th, td{
    border: 1px solid black;
    padding: 3px;
    border-collapse: collapse;
}
#tartalom caption{
    font-size: 30px;
}
#Kezdo{
    font-size: larger;
    text-align: center;
    background-color: rgba(0, 0, 200, 0.8);
    border: 2px;
    border-radius: 10px;
}
#megj{

    font-size: 25px;
    background-color: rgba(100, 0, 0, 0.8);
    border: 2px;
    border-radius: 5px;
}
#lista{
    text-align: center; 
    margin-bottom: 0%;   
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-size: larger;
    text-align: center;
    background-color: rgba(0, 0, 200, 0.8);
    border: 2px;
    border-radius: 10px;
}
#verzio{
    margin-top: 0%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(100, 0, 0, 0.8);
    border: 2px;
    border-radius: 5px;
}
#jatek{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(100, 0, 0, 0.8);
    border: 2px;
    border-radius: 5px;
}
#jatekl{
    text-align: justify;
    color: white;
    font-size: larger;
    text-align: center;
    background-color: rgba(0, 0, 200, 0.6);
    border: 2px;
    border-radius: 10px;
}
h1{
    text-align: center;
    background-color: rgba(0, 100, 0, 0.8);
    border: 2px;
    border-radius: 10px;
    padding: 0px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0%;
    margin-bottom: 0%;
}
h2{
    color: white;
}
p{
    color:white;
}

nav{
    margin: 5px;
    background-color: rgba(100, 100, 100, 0.8) ;
    color: white;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}
nav a:active{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}
nav a:visited{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}
nav a{
    margin: 10%;
    border-right: 1px solid blue;
    border-collapse: collapse;
}
#utolso{
    border-left: 1px solid blue;
    border-collapse: collapse;
}

.video{
    padding: 0px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sotetebb_betu{
    color: darkred;
}
.vilagosabb_betu{
    color: turquoise;
}